<div class="container-md pl-5">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <h3 class="text-danger">KIM CHI HOUSE</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">HOME<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="/menu" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        MENU
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/menu">KOREAN STYLE HOTPOT</a>
                        <a class="dropdown-item" href="#mc_2">NOODLES AND RICE CAKES</a>
                        <a class="dropdown-item" href="#mc_3">MEAT AND SEAFOOD</a>
                        <a class="dropdown-item" href="#mc_4">SOUP AND STEW</a>
                        <a class="dropdown-item" href="#mc_5">STONE BOWL BIBIMBAP</a>
                        <a class="dropdown-item" href="#mc_6">APPETIZERS</a>
                        <a class="dropdown-item" href="#mc_7">SIDE ORDERS</a>
                        <a class="dropdown-item" href="#mc_8">DRINKS</a>
                        <a class="dropdown-item" href="#mc_9">ADDITIONAL</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blog">BLOG</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>