<div class="container-md p-5 text-white bg-dark">
    <div class="row">
        <div class="col-md">
            <h5>OPEN HOUR</h5><br>
            <P>MON - SAT</P>
            <P>11:00 AM - 08:00 PM</P>
            <P>SUN : CLOSED</P><br><br>
        </div>
        <div class="col-md">
            <h5>CONTACT</h5><br>
            <P>403-265-8098</P><br><br>
        </div>
        <div class="col-md">
            <h5>LOCATION</h5><br>
            <P>111-303 CENTRE STREET</P>
            <P>CALGARY AB</P>
            <P>T2G 2B9</P><br><br>
        </div>
    </div>
</div>