<!DOCTYPE html>
<html lang="en">

<head>

    {{> head }}

    <title>WELCOM to KIMCHI HOUSE</title>

</head>

<body class="bg-dark">

    {{> header }}

    {{{ body }}}


    {{> foot }}

</body>

</html>