{{> admin_header }}

<br><br>
<div class="container text-white">
    <h1>DELIVERY SERVICE</h1>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>DELIVERY SEVICE</th>
                <th>WEBSITE</th>
            </tr>
        </thead>
        <tbody>
            {{#delivery}}
            <tr>
                {{{this}}}
            </tr>
            {{/delivery}}
        </tbody>
    </table>

    <br>
    <hr class="m-0 bg-secondary" />
    <br>
    <form action="/admin/delivery/modify" method="post">
        <div class="form-row">
            <div class="col-1">
                <input type="text" class="form-control" name="id" placeholder="ID" />
            </div>
            <div class="col-5">
                <input type="text" class="form-control" name="service" placeholder="SERVICE" />
            </div>
            <div class="col-5">
                <input type="text" class="form-control" name="website" placeholder="WEBSITE" />
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">MODIFY</button>
            </div>
        </div>
    </form>
    <br>
    <hr class="m-0 bg-secondary" />
    <br>
    <form action="/admin/delivery/delete" method="POST">
        <div class="form-row">
            <div class="col-1">
                <input type="text" class="form-control" name="id" placeholder="ID" />
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">DELETE</button>
            </div>
        </div>
    </form>
    <br>
    <hr class="m-0 bg-secondary" />
    <br>
    <form action="/admin/delivery/create" method="POST">
        <div class="form-row">
            <div class="col-5">
                <input type="text" class="form-control" name="service" placeholder="SERVICE" />
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="website" placeholder="WEBSITE" />
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">CREATE</button>
            </div>
        </div>
    </form>
</div>