<div class="container text-white">
    <h2>MENU</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITTLE</th>
                <th>AUTHOR</th>
                <th>DATE</th>
            </tr>
        </thead>
        <tbody>
            {{#blog}}
            {{{this}}}
            {{/blog}}
        </tbody>
    </table>
    <hr class="m-0 bg-secondary" />
    <div<div class="row">
        <div class="col-sm-4">
            <form action="/admin/blog/modify" method="GET">
                <div class="col">
                    <input type="text" class="form-control" name="id" placeholder="ID" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary col-md">MODIFY</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form action="/admin/blog/create" method="GET">
                <div class="col">
                    <button type="button" class="btn btn-primary col-md">CREATE</button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <form action="/admin/blog/delete" method="POST">
                <div class="col">
                    <input type="text" class="form-control" name="id" placeholder="ID" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary col-md">DELETE</button>
                </div>
            </form>
        </div>
</div>
</div>