<hr class="m-0 bg-secondary" />

<div class="container text-white">
    <h2>MENU</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>CLASS</th>
                <th>MENU</th>
                <th>PRICE</th>
                <th>COMMENT</th>
                <th>IMAGE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>class</td>
                <td>menu</td>
                <td>price</td>
                <td>comment</td>
                <td>image</td>
            </tr>
        </tbody>
    </table>
</div>

<form>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" />
        <label class="form-check-label" for="inlineRadio1">KOREAN STYLE HOTPOT</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" />
        <label class="form-check-label" for="inlineRadio2">NOODLES AND RICE CAKES</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" disabled />
        <label class="form-check-label" for="inlineRadio3">STONE BOWL BIBIMBAP</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="4" />
        <label class="form-check-label" for="inlineRadio1">MEAT AND SEAFOOD</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="5" />
        <label class="form-check-label" for="inlineRadio2">SOUP AND STEW</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="6" disabled />
        <label class="form-check-label" for="inlineRadio3">APPETIZERS</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="7" />
        <label class="form-check-label" for="inlineRadio1">SIDE ORDERS</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="8" />
        <label class="form-check-label" for="inlineRadio2">ADDITIONAL</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="9" disabled />
        <label class="form-check-label" for="inlineRadio3">DRINKS</label>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="CLASS" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="MENU" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="PRICE" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="COMMENT" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="IMAGE" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">INSERT</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">UPDATE</button>
        </div>
    </div>
</form>

<hr class="m-0 bg-secondary" />

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="CLASS" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="MENU" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="PRICE" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="COMMENT" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="IMAGE" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">UPDATE</button>
        </div>
    </div>
</form>

<hr class="m-0 bg-secondary" />

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">DELETE</button>
        </div>
    </div>
</form>