{{> admin_header }}

<div class="container text-white">
    <form action="/admin/blog/create" method="post">
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="tittle" placeholder="tittle" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <textarea class="form-control" name="description">description</textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="author" value="KIMCHIHOUSE" />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary col-md">CREATE</button>
            </div>
        </div>
    </form>
</div>