<hr class="m-0 bg-secondary" />

<h1>MENU</h1><br>

<hr class="m-0 bg-secondary" /><br>

<h3>INSERT</h3><br>

<form>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_1" value="1" />
        <label class="form-check-label" for="inlineRadio1">{{menu_class_1}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_2" value="2" />
        <label class="form-check-label" for="inlineRadio2">NOODLES AND RICE CAKES</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_3" value="3" />
        <label class="form-check-label" for="inlineRadio3">STONE BOWL BIBIMBAP</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_4" value="4" />
        <label class="form-check-label" for="inlineRadio1">MEAT AND SEAFOOD</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_5" value="5" />
        <label class="form-check-label" for="inlineRadio2">SOUP AND STEW</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_6" value="6" />
        <label class="form-check-label" for="inlineRadio3">APPETIZERS</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_7" value="7" />
        <label class="form-check-label" for="inlineRadio1">SIDE ORDERS</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_8" value="8" />
        <label class="form-check-label" for="inlineRadio2">ADDITIONAL</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="class_id_9" value="9" />
        <label class="form-check-label" for="inlineRadio3">DRINKS</label>
    </div>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="MENU" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="PRICE" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="COMMENT" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="IMAGE" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">INSERT</button>
        </div>
    </div>
</form><br>

<hr class="m-0 bg-secondary" /><br>

<h3>INSERT & Delete</h3><br>

<h5>{{menu_class_1}}</h5>

<form>
    <div class="form-row">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="menu_select"
                value="menu_select" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="CLASS" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="MENU" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="PRICE" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="COMMENT" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="IMAGE" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">UPDATE</button>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">DELETE</button>
        </div>
    </div>
</form>