{{> admin_header }}

<br><br>
<div class="container p-5 text-white bg-dark">
    <h1>Welcom, Owner!!</h1><br>
    <h3>This is admin page</h3><br>
    <h5>Choose what you want to work on</h5><br>
    <ul class="list-group">
        <li>
            <h3><a href="/admin/menu">MENU</a></h3>
        </li>
        <li>
            <h3><a href="/admin/blog">BLOG</a></h3>
        </li>
        <li>
            <h3><a href="/admin/delivery">DELIVERY SERVICE</a></h3>
        </li>
    </ul>
</div>