{{> admin_header }}

<div class="container p-5 text-white bg-dark">
    <h1>This is admin page</h1>
    <p>Choose what you want to work on</p>
    <ul class="list-group">
        <li>
            <h3><a href="/admin/menu">MENU</a></h3>
        </li>
        <li>
            <h3><a href="/admin/blog">BLOG</a></h3>
        </li>
        <li>
            <h3><a href="/admin/delivery">DELIVERY SERVICE</a></h3>
        </li>
    </ul>
</div>