<div class="container text-white">
    <h2>MENU</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>DELIVERY SEVICE</th>
                <th>WEBSITE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>id</td>
                <td>delivery secice</td>
                <td>website</td>
            </tr>
        </tbody>
    </table>
</div>

<hr class="m-0 bg-secondary" />

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="SERVICE" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="WEBSITE" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">INSERT</button>
        </div>
    </div>
</form>

<hr class="m-0 bg-secondary" />

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="SERVICE" />
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="WEBSITE" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">UPDATE</button>
        </div>
    </div>
</form>

<hr class="m-0 bg-secondary" />

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="ID" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary col-md">DELETE</button>
        </div>
    </div>
</form>