<hr class="m-0 bg-secondary">

<div class="jumbotron p-5 text-white bg-dark">
    <h1 class="text-center">This is our blog.</h1>
    <h5>Kim Chi House</h5>
    <h6>2020. 7. 29</h6>
    <hr class="bg-secondary">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>

</div>
<div class="jumbotron p-5 text-white bg-dark">
    <h1 class="text-center">This is another our blog.</h1>
    <h5>Kim Chi House</h5>
    <h6>2020. 7. 30</h6>
    <hr style="border: solid 1px white">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi quod autem exercitationem accusamus qui vero
        dolorem iure ad? Ad enim totam commodi necessitatibus illo tempore suscipit minus praesentium quasi fugit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit sunt facere mollitia, quo sapiente accusantium
        explicabo doloremque esse voluptatibus, sed maxime vero suscipit voluptates doloribus ex. Nam quasi eaque
        impedit. Lorem ipsum dolor,
        sit amet consectetur adipisicing elit. Eveniet illo harum atque alias necessitatibus nostrum aliquid, fugiat
        doloremque. Expedita voluptatem totam blanditiis obcaecati pariatur nemo in quis, sequi eos asperiores?</p>
</div>