<hr class="m-0 bg-secondary">

<div class="container-md p-5 text-white bg-dark">
    <h1 class="text-center">CONTACT</h1>
</div>
<div class="container-md p-5 text-white bg-dark text-center">
    <div class="row">
        <div class="col-md">
            <h5>OPEN HOUR</h5><br>
            <P>MON - SAT</P>
            <P>11:00 AM - 08:00 PM</P>
            <P>SUN : CLOSED</P><br><br>
        </div>
        <div class="col-md">
            <h5>CONTACT</h5><br>
            <P>403-265-8098</P><br><br>
        </div>
        <div class="col-md">
            <h5>LOCATION</h5><br>
            <P>111-303 CENTRE STREET</P>
            <P>CALGARY AB</P>
            <P>T2G 2B9</P><br><br>
        </div>
    </div>
</div>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.166646928081!2d-114.06531638469117!3d51.050010651863325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716ff933e67d85%3A0xabad3d221ead00b9!2sKim%20Chi%20House!5e0!3m2!1sko!2sca!4v1596170221019!5m2!1sko!2sca"
        allowfullscreen></iframe>
</div>
<br><br>
<div class="container-md p-5 text-white bg-dark text-center">
    <a href="/login">
        <button class="btn btn-outline-success" type="submit">ADMIN</button>
    </a>
</div>
<br><br>