{{> index_header }}

<div class="container-md p-5 text-white bg-dark">
    <h5>DELIVERY ORDERS</h5>



    <ul>
        {{#delivery}}
        <br>
        <li>{{{this}}}</li>
        <br>
        {{/delivery}}
</div>

{{> index_footer }}